# Time between two runs in second
delay = 3600

# Time between two blocked runs in second
delay_when_failing = 1800

# blocker issue tags, issue has to have all of them
{% if env == 'staging' %}
kb_principal = "monitor-gating/os-master01.stg.iad2.fedoraproject.org@STG.FEDORAPROJECT.ORG"
kb_keytab_file = "/etc/keytabs/koji-keytab"
{% else %}
kb_principal = "packagerbot/os-master01.iad2.fedoraproject.org@FEDORAPROJECT.ORG"
kb_keytab_file = "/etc/keytabs/monitor-gating-keytab"
{% endif %}


# CLI arguments to give to the script testing the single build gating workflow
workflow_single_gating_args = "--conf /opt/config/monitor_gating.cfg --auto-update --no-pr"

# CLI arguments to give to the script testing the multi builds gating workflow
workflow_multi_gating_args = "--conf /opt/config/monitor_gating.cfg"


# The fedpkg command to call to clean up the dangling side-tags
{% if env == 'staging' %}
fedpkg = "fedpkg-stage"

# Project whose issue will slow down the subsequent runs (delay defined
# above).
pagure_blocking_project = "packager-workflow"
# blocker issue tags, issue has to have all of them.
blocker_tags = ['packager_workflow_blocker', 'staging']

# Project against which failed runs report their failure.
pagure_report_project = "packager-workflow"
pagure_api_token = "{{ monitor_gating_pagure_api_token_workflow_stg }}"
env = "staging"

{% else %}
fedpkg = "fedpkg"
# blocker issue tags, issue has to have all of them.
blocker_tags = ['packager_workflow_blocker']
{% endif %}

