# Time between two runs in second
delay = 3600

# CLI arguments to give to the script testing the single build gating workflow
workflow_single_gating_args = "--conf /conf/monitor_gating.cfg --auto-update --no-pr"

# CLI arguments to give to the script testing the multi builds gating workflow
workflow_multi_gating_args = "--conf /conf/monitor_gating.cfg
