{% if datacenter == 'phx2' %}
{% if env == 'staging' %}
suffix  = 'stg.phx2.fedoraproject.org'
{% else %}
suffix = 'phx2.fedoraproject.org'
vpn_suffix = 'vpn.fedoraproject.org'
{% endif %}
{% elif datacenter == 'iad2' %}
{% if env == 'staging' %}
suffix  = 'stg.iad2.fedoraproject.org'
{% else %}
suffix = 'iad2.fedoraproject.org'
vpn_suffix = 'vpn.fedoraproject.org'
{% endif %}
{% else %}
{% if env == 'staging' %}
suffix  = 'stg.fedoraproject.org'
{% else %}
suffix = 'fedoraproject.org'
vpn_suffix = 'vpn.fedoraproject.org'
{% endif %}
{% endif %}


config = dict(
    endpoints={
        "bodhi.bodhi-backend01": [
            "tcp://bodhi-backend01.%s:30%0.2i" % (suffix, i)
            for i in range(20)
        ],
    }
)
