plugin: constructed
strict: False
compose:
groups:
    vmhost-x86-02: vmhost is defined and vmhost == 'vmhost-x86-02.iad2.fedoraproject.org'
keyed_groups:
    - prefix: distro
      key: ansible_distribution

    - prefix: vmhost
      key: vmhost

    - prefix: datacenter
      key: datacenter

    - prefix: virt
      key: ansible_virtualization_role
