{% for host in groups['ec2']|sort %}
{% if hostvars[host].nagios_Check_Services['ping'] %}
define host {
{% if vars['nagios_location'] == 'internal' %}
   use                     defaulttemplate
{% else %}
  use                          mincheck
{% endif %}

   host_name               {{ host }}
{% if hostvars[host].ansible_hostname is defined %}
   alias                   {{ hostvars[host].ansible_hostname }}
{% else %}
   alias                   {{ host }}
{% endif %}
{% if hostvars[host].tun0_ip is defined %}
   address                 {{ hostvars[host].tun0_ip }}
{% else %}
   address                 {{ host }}
{% endif %}
}
{% endif %}
{% endfor %}
