from datetime import timedelta

### Secret key for the Flask application
SECRET_KEY = '{{ datagrepperCookieSecret }}'

### Unhappy mako
MAKO_OUTPUT_ENCODING='utf-8'

{% if env == "staging" %}
DATAGREPPER_BASE_URL='https://apps.stg.fedoraproject.org/datagrepper/'
{% else %}
DATAGREPPER_BASE_URL='https://apps.fedoraproject.org/datagrepper/'
{% endif %}

DATAGREPPER_CACHE_BACKEND='dogpile.cache.memcached'
DATAGREPPER_CACHE_KWARGS={'arguments': {'url': 'memcached01:11211'}}

{% if env == "staging" %}
SQLALCHEMY_DATABASE_URI='postgresql+psycopg2://{{ datagrepper_app_user }}:{{ datagrepper_app_password }}@db-datanommer01.stg.iad2.fedoraproject.org:5432/datagrepper'
{% else %}
SQLALCHEMY_DATABASE_URI='postgresql+psycopg2://{{ datagrepper_app_user }}:{{ datagrepper_app_password }}@db-datanommer01.iad2.fedoraproject.org:5432/datagrepper'
{% endif %}

{% if env == "staging" %}
DATAGREPPER_OPENID_ENDPOINT='id.stg.fedoraproject.org'
{% else %}
DATAGREPPER_OPENID_ENDPOINT='id.fedoraproject.org'
{% endif %}

RUNNER_LOCKFILE='/var/run/fedmsg/datagrepper.lock'
JOB_OUTPUT_DIR='/var/cache/datagrepper'
JOB_OUTPUT_URL='https://apps.{% if env == "staging" %}stg.{% endif %}fedoraproject.org/datagrepper/output'
JOB_EXPIRY=timedelta(days=7)
