amqp_url = "amqps://pungi{{ env_suffix }}:@rabbitmq{{ env_suffix }}.fedoraproject.org/%2Fpubsub"

{% if env == "staging" %}
topic_prefix = "org.fedoraproject.stg"
{% else %}
topic_prefix = "org.fedoraproject.prod"
{% endif %}

publish_exchange = "amq.topic"
passive_declares = true

[tls]
ca_cert = "/etc/pki/fedora-messaging/rabbitmq-ca.crt"
keyfile = "/etc/pki/fedora-messaging/rabbitmq-pungi.key"
certfile = "/etc/pki/fedora-messaging/rabbitmq-pungi.crt"

[client_properties]
app = "pungi"

[qos]
prefetch_size = 0
prefetch_count = 25

[log_config]
version = 1
disable_existing_loggers = true
[log_config.formatters.simple]
format = "%(asctime)s [%(name)s %(levelname)s] %(message)s"
datefmt = "%Y-%m-%d %H:%M:%S"
[log_config.handlers.console]
class = "logging.StreamHandler"
formatter = "simple"
stream = "ext://sys.stdout"
[log_config.loggers.fedora_messaging]
level = "INFO"
propagate = false
handlers = ["console"]
