from raw_config import *
{% if env == 'staging' %}
koji_profile = 'odcs_stg'
{% else %}
koji_profile = 'odcs_production'
{% endif %}

{% if env == 'staging' %}
# We cannot use hardlinks on stg, because it uses different volume and copy
# just takes lot of storage.
link_type = 'symlink'

# Staging is used only for testing, so allow only x86_64 composes
tree_arches = ['x86_64']
{% endif %}

