from raw_config import *
{% if env == 'staging' %}
koji_profile = 'odcs_stg'
{% else %}
koji_profile = 'odcs_production'
{% endif %}

# We cannot use hardlinks, because ODCS uses different volume and copy
# just takes lot of storage and time.
link_type = 'symlink'

{% if env == 'staging' %}

# Staging is used only for testing, so allow only x86_64 composes
tree_arches = ['x86_64']
{% endif %}

