{% macro load_file(filename) %}{% include filename %}{%- endmacro -%}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: ipa-client-config
data:
  ldap.conf: |-
    {{ load_file('ldap.conf') | indent(4) }}
  default.conf: |-
    {{ load_file('default.conf') | indent(4) }}
  ca.crt: |-
    {{ ipa_ca_cert | indent(4) }}
  krb5.conf: |-
    {{ load_file('krb5.conf') | indent(4) }}
