command[check_rabbitmq_cluster]=/usr/lib64/nagios/plugins-rabbitmq/check_rabbitmq_cluster --extra-opts=common@/etc/nrpe.d/rabbitmq_args.ini -n rabbit@rabbitmq01.iad2.fedoraproject.org,rabbit@rabbitmq02.iad2.fedoraproject.org,rabbit@rabbitmq03.iad2.fedoraproject.org
