MAILTO=sysadmin-releng-members@fedoraproject.org
{% if RelEngFrozen %}
{{ '#' }}14 00 * * * apache /usr/local/bin/bodhi-automated-pushes.py
{% else %}
14 00 * * * apache /usr/local/bin/bodhi-automated-pushes.py
{% endif %}
