MAILTO=sysadmin-releng-members@fedoraproject.org
{% if RelEngFrozen %}
{{ '#' }}00 00 * * * apache /usr/local/bin/bodhi-automated-pushes.py
{% else %}
{{ '#' }}Disable automated pushes until we can fix ejected updates.
{{ '#' }}00 00 * * * apache /usr/local/bin/bodhi-automated-pushes.py
{% endif %}
