define servicegroup {
    servicegroup_name   bodhi
    alias               Bodhi
    members             {% for host in groups['proxies']|sort %}{% if hostvars[host].nagios_Can_Connect == true %}{{host}}, http-bodhi2 {% if not loop.last %} , {% endif %}{% endif %} {% endfor %}

}
