define servicegroup {
    servicegroup_name   fas
    alias               Fedora Account System
    members         {% for host in groups['proxies']|sort %}{% if hostvars[host].nagios_Can_Connect == true %}{{host}}, http-accounts, {% endif %}{% endfor %}{% for host in groups['fas'] %}{{host}}, http-accounts, {% endfor %} db-fas01.phx2.fedoraproject.org,Check FAS DB

}
