define servicegroup {
    servicegroup_name   fp-wiki
    alias               Fedora Project Wiki
    members             {% for host in groups['proxies']|sort %}{% if hostvars[host].nagios_Can_Connect == true %}{{host}}, http-fedoraproject.org-wiki{% if not loop.last %}, {% endif %}{% endif %}{% endfor %}

}

define servicegroup {
    servicegroup_name   fp-wiki-non-cached
    alias               Fedora Project Wiki
    members             {% for host in groups['proxies']|sort %}{% if hostvars[host].nagios_Can_Connect == true %}{{host}}, http-fedoraproject.org-wiki-non-cached{% if not loop.last %}, {% endif %}{% endif %}{% endfor %}

}

